<%= form_for @user, :html => {class: "edit_user col-lg-8"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="form-group col-sm-6">
        <div class="col-xs-12">
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <div class="col-xs-12">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <div class="col-xs-12">
          <div class="actions">
            <%= f.submit 'Update User', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
