
<form class="col-sm-6">
  <div class="panel panel-primary">
    <div class="panel-body">

      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Image url:</strong>
        <%= @product.image_url %>
      </p>

      <p>
        <strong>Color:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Product year:</strong>
        <%= @product.product_year %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong>Sold:</strong>
        <%= @product.sold_date %>
      </p>

    </div>
  </div>
</form>


<div class="col-sm-12">
  <%= link_to 'Edit', edit_product_path(@product), type: "button", class: "btn btn-default"%>
  <%= link_to 'Back', products_path, type: "button", class: "btn btn-default" %>
</div>



